name: build

on: [push, pull_request]

jobs:
    build:
        name: build

        strategy:
            matrix:
                os: [ubuntu-latest]
                php: ['7.2', '7.3', '7.4']

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP, with composer and extensions
              uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
              with:
                  php-version: ${{ matrix.php }}

            - name: Shutdown Ubuntu MySQL (SUDO)
              run: sudo service mysql stop

            - name: Set up MySQL
              uses: mirromutth/mysql-action@v1.1
              with:
                  mysql user: mysql
                  mysql password: password
                  mysql database: test

            - name: Wait for DB
              run: sleep 15

            - name: Get composer cache directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Cache composer dependencies
              uses: actions/cache@v1
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest

            - name: Execute tests
              run: composer test
              env:
                  MYSQL_USER: mysql
                  MYSQL_PASS: password
                  MYSQL_DATABASE: test
